
:root {
    --bg-primary: #FFFFFF;
    --text-primary: #000000;
    --text-secondary: rgba(0, 0, 0, 0.8);
    --action-hover: rgba(0, 0, 0, 0.08);
    --action-selected: rgba(0, 0, 0, 0.16);
    --msg-user: #f3f3f3;
    --msg-bot: #f1f1f1;
    --sidebar-bg: #FFFFFF;
    --input-bg: #1E1E1E;
    --border-color: rgba(0, 0, 0, 0.12);
}

[data-theme="dark"] {
    --bg-primary: #121212;
    --text-primary: #FFFFFF;
    --text-secondary: hsla(0, 0%, 100%, 0.8);
    --action-hover: rgba(255, 255, 255, 0.08);
    --action-selected: rgba(255, 255, 255, 0.16);
    --msg-user: #1E1E1E;
    --msg-bot: #1E1E1E;
    --sidebar-bg: #1E1E1E;
    --input-bg: #2A2A2A;
    --border-color: rgba(255, 255, 255, 0.12);
}
